.aboutUs .container .services-section .card {
    background: var(--main-background);

}

.aboutUs .container .services-section .card:hover {
    background: transparent;
    border: 1px solid var(--color-primary-variant);
}


.aboutUs .services-section .card h2 {
    height: 35px;
    width: 70%;
    font-size: 25px;
    text-transform: uppercase;
    margin: 25px auto;
    line-height: 35px;
}

.aboutUs .services-section .card h2:after {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, var(--main-background), #007bff);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.aboutUs .services-section .card h2:before {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #007bff, var(--main-background));
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.aboutUs .services-section .card p {
    font-size: 16px;
    margin: 35px 20px;
    color: var(--Para-text);
}

.aboutUs .services-section .card:hover {
    transform: translateY(-20px);
}

.aboutUs .services-section .card:hover .icon {
    transform: rotate(360deg);
}

@media (max-width :992px) {
    .aboutUs .container .services-section {
        grid-template-columns: 1fr 1fr;
        gap: 50px 0px;
    }
}

@media (max-width :770px) {
    .aboutUs .container .services-section {
        grid-template-columns: 1fr;
        gap: 70px 0px;
    }
}