.landing .container {
    width: 900px;
    max-width: 100%;
}

.landing .container h1 {
    font-size: 55px;
    font-weight: bold;
    animation-duration: 1s;
}

.landing .container h1 span {
    color: var(--main-color);
    animation-duration: 3s;
}

.landing .go-down {
    position: absolute;
    left: 50%;
    color: var(--main-color);
    bottom: 30px;
    transform: translatex(-50%);
    transition: var(--main-transition);
}

.landing .go-down i .iv {
    animation: bouncing 1.5s infinite;
    width: 30px;
    height: 30px;
}

@media (max-width: 640px) {
    .landing .container h1 {
        font-size: 40px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}